html {
    background-color: black;
}
img {
    height: 300px;
    width: 100%;
    border: 5px solid white;
}
#image {
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-top: 10%;
}
h1 {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
p {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
